$tabletDock: 71px;

/* iPhone 6/7/8 (safari) */
@media only screen and (min-width: 375px) and (min-height: 545px) {
  .logoTextBottom {
    // color: blue;
  }
  .landingHeading {
    font-size: 40px;
    width: 210px;
  }
  .landingSubHeading {
    font-size: 17px;
    line-height: 22px;
    width: 260px;
  }
  .sectionTitle {
    font-size: 22px;
  }
  .navMenuOpt:not(#navSocial) {
    height: 58px;
    font-size: 16px;
    top: -58px;
  }
  #navSocial {
    height: 58px;
    top: -58px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(2) {
    top: 58px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(3) {
    top: 116px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(4) {
    top: 174px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(5) {
    top: 232px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(6) {
    top: 290px;
  }
  .navSocialMediaBtn {
    font-size: 24px;
  }
  .contactBtnText {
    font-size: 14px;
  }
  #reviewSlider {
    height: 540px;
  }
  .reviewSlideText {
    font-size: 18px;
  }
  .treatmentBox {
    height: 120px;
  }
  .aboutText {
    font-size: 16px;
    margin-left: 14px;
    padding-right: 9px;
  }

  /*** STATS ***/
  .statBox {
    height: 170px;
    background-size: 110px;
  }
  .statNumber {
    font-size: 34px;
  }

  /*** FORM ***/
  #messageInput {
    height: 200px;
  }
  .contactFormInput {
    font-size: 18px;
  }
  .formBtnText {
    font-size: 18px;
  }
  .formBtnIcon {
    font-size: 24px;
  }
}

/* iPhone 6/7/8 PLUS */
@media only screen and (min-width: 414px) {
  .logoTextBottom {
    color: #39ff14;
  }
  .landingHeading {
    font-size: 48px;
    width: 250px;
  }
  .landingSubHeading {
    font-size: 20px;
    line-height: 23px;
    width: 300px;
  }
  .contactBtnText {
    font-size: 15px;
  }
  #reviewSlider {
    height: 580px;
  }
  .reviewSlideText {
    margin: 30px 31px 26px 55px;
  }
  #aboutUs {
    border-radius: 0;
  }
  .teethImg {
    display: block;
    margin: 0 auto 30px auto;
    width: 270px;
  }
  #doctorWrapper {
    padding-top: 30px;
  }
  .whyText {
    padding-right: 24px;
  }
  .rightQuoteIcon {
    top: 350px;
  }
  .aboutText {
    padding-right: 18px;
  }

  /*** STATS ***/
  #stats {
    padding-bottom: 50px;
  }
  .statBox {
    height: 190px;
    background-size: 120px;
  }
  .statDescription {
    font-size: 19px;
  }
  .statNumber {
    font-size: 36px;
  }

  /*** FORM ***/
  .formDescription {
    font-size: 16px;
  }
  .contactFormText {
    font-size: 16px;
  }
  #backArrow {
    left: 20px;
  }
  .switchText {
    right: 22px;
  }
  .switch {
    right: 14px;
  }
}

@media only screen and (min-width: 532px) {
  .teethImg {
    width: 320px;
  }
  .aboutText {
    margin-left: 40px;
    padding-right: 44px;
  }
  .docInfo {
    width: 460px;
    font-size: 16px;
    margin: 0 auto;
    padding-right: 0px;
  }
  .doctorName {
    font-size: 28px;
  }
  .whyBulletPoint {
    margin-left: 31px;
    font-size: 25px;
  }
  .whyText {
    padding-right: 33px;
  }
  .reviewSlideText {
    margin: 30px 68px 26px 74px;
    font-size: 20px;
  }
  .leftQuoteIcon {
    left: 30px;
  }
  .rightQuoteIcon {
    right: 30px;
  }
  .treatmentOptionsGrid {
    padding: 0 70px;
  }
  .bracesText {
    margin: 40px 40px 0px 70px;
  }
  .beforeAfterImg {
    margin: 30px 40px 0px 40px;
  }

  /*** FORM ***/
  .formTitle {
    margin-top: 50px;
    font-size: 26px;
  }
  .formDescription {
    font-size: 18px;
    line-height: 26px;
    padding: 0px 60px;
  }
  .contactFormText {
    font-size: 18px;
  }
  .contactFormInput {
    font-size: 22px;
    padding-left: 14px;
    height: 60px;
  }
  .formIcon {
    font-size: 26px;
  }
  .formAsterik {
    font-size: 16px;
  }
  .formOption {
    padding: 0px 60px;
  }
  .formMessage {
    padding: 0px 60px 153px 60px;
  }
  #messageInput {
    padding: 8px 8px 0 15px;
    height: 300px;
  }
  input.contactFormInput:valid {
    background-size: 32px;
  }
  .contactFormBtn {
    border-right: 3px solid #e8e8e8;
  }
  .formSubmitBtnReady {
    border: none;
  }
  #formButtons {
    border-top: 3px solid #e8e8e8;
  }
  .formBtnText {
    font-size: 22px;
  }
  .formBtnIcon {
    font-size: 28px;
  }
  .switch {
    right: 26px;
    top: 54px;
  }
  .switchText {
    right: 34px;
    top: 26px;
  }
  #backArrow {
    left: 30px;
    height: 50px;
    width: 50px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 667px) {
  .docContainer {
    display: flex;
    justify-content: center;
  }
  .docCenter {
    margin-left: 30px;
  }
  .docInfo {
    font-size: 16px;
    width: 45%;
  }
  #aboutUs {
    background-color: whitesmoke;
  }
  .aboutText {
    font-size: 18px;
    line-height: 30px;
  }
  .whyText {
    font-size: 18px;
  }
  .docInfo {
    font-size: 18px;
  }
  .bracesText {
    font-size: 18px;
  }
  .timelapseDescription {
    font-size: 18px;
  }
  .faqQuestionText {
    font-size: 18px;
  }
  .faqAnswer {
    font-size: 18px;
  }
  .officeInfoText {
    font-size: 18px;
  }
  .officeInfoGrid {
    font-size: 18px;
  }
  /*** STATS ***/
  #stats {
    display: flex;
    background-color: gainsboro;
    padding: 10px 0;
  }
  .statBox {
    width: 33%;
    height: 310px;
    background-size: 128px;
    background-color: whitesmoke;
    border-radius: 30px;
    /* border: 2px solid #0094f0; */
    margin: 20px;
    background-position: top 32px center;
    display: initial;
    position: relative;
  }
  .learnMoreStatBtn {
    display: none;
  }
  .statNumber {
    position: absolute;
    top: 194px;
    width: 100%;
    text-align: center;
  }
  .statDescription {
    position: absolute;
    top: 236px;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  #yearDescription {
    position: initial;
    width: 200px;
    margin: 236px auto 0 auto;
  }
  /*** FORM ***/
  .formTitle {
    font-size: 28px;
  }
  .formDescription {
    padding: 0px 110px 0 110px;
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .formOption {
    padding: 0px 110px;
    margin-bottom: 30px;
  }
  .formMessage {
    padding: 0px 110px 153px 110px;
  }
  .contactFormText {
    font-size: 20px;
  }
  #backArrow {
    width: 54px;
    height: 54px;
    left: 36px;
    font-size: 24px;
  }
  .switchText {
    font-size: 14px;
    right: 36px;
    top: 21px;
  }
  .switch {
    right: 28px;
  }
}

/* iPad mini/air */
@media only screen and (min-width: 768px) {
  #landingBox {
    height: calc(100vh - 129px);
  }
  .landingHeading {
    font-size: 64px;
    width: 340px;
    bottom: 298px;
    left: 30px;
  }
  .landingSubHeading {
    font-size: 24px;
    line-height: 32px;
    width: 370px;
    bottom: 217px;
    left: 32px;
  }
  .sectionTitle {
    font-size: 24px;
  }
  #backToTopBtn {
    bottom: 12%;
    right: 30px;
    height: 44px;
    width: 44px;
  }
  .upIcon {
    font-size: 22px;
  }
  #mainDock {
    border-top: 3px solid #e8e8e8;
  }
  .dockContactBtn {
    height: 68px;
    border-right: 3px solid #e8e8e8;
  }
  .contactBtnText {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .contactIcon {
    font-size: 22px;
    margin-right: 6px;
  }
  #messageIcon {
    margin-right: 8px;
  }
  /*** NAV ***/
  #navToggleBtn {
    display: none;
  }
  .desktopNavMenuOpt {
    top: initial;
    position: initial;
    padding: 4px 11px 0 11px;
    text-decoration: none;
  }
  #navMenu {
    display: none;
  }
  #desktopNavMenu {
    display: flex;
    position: absolute;
    right: 0;
  }
  #navbar {
    border-top: none;
    // border-bottom: none;
  }
  a.desktopNavMenuOpt#lastNavOpt {
    padding-right: 14px;
  }
  #desktopNavMenu .desktopNavMenuOpt:active {
    background-color: #e8e8e8;
  }
  /*** FORM ***/
  .formDescription {
    font-size: 22px;
    margin-top: 70px;
    margin-bottom: 60px;
    padding: 0px 90px 0 130px;
    line-height: 28px;
  }
  .contactFormText {
    font-size: 22px;
    width: 260px;
    margin-bottom: 0;
    padding-right: 12px;
    text-align: right;
  }
  .contactFormInput {
    padding-left: 14px;
    height: 60px;
  }
  #messageInputLabel {
    padding-top: 11px;
  }
  .formIcon {
    font-size: 26px;
  }
  .formAsterik {
    font-size: 16px;
  }
  .formOption {
    display: flex;
    align-items: center;
    padding: 0px 100px;
  }
  .formMessage {
    display: flex;
    padding: 0px 100px 153px 100px;
  }
  #messageInput {
    padding: 8px 8px 0 15px;
    height: 400px;
  }
  .contactFormBtn {
    height: 68px;
    border-right: 3px solid #e8e8e8;
  }
  .formSubmitBtnReady {
    border: none;
  }
  #contactForm.displayHidden #formButtons {
    bottom: -$tabletDock;
  }
  #formButtons {
    border-top: 3px solid #e8e8e8;
  }
  .formBtnText {
    font-size: 24px;
  }
  .formBtnIcon {
    font-size: 30px;
  }
  .switchText {
    font-size: 15px;
  }
  .switch {
    top: 56px;
  }
  #backArrow {
    width: 56px;
    height: 56px;
    font-size: 26px;
  }
  /*** ABOUT ***/
  .aboutText {
    padding-right: 70px;
    letter-spacing: 0.5px;
    line-height: 32px;
    font-size: 18px;
    margin-left: 56px;
  }
  .whyReason {
    margin-bottom: 48px;
  }
  .whyBulletPoint {
    font-size: 28px;
    margin-left: 23px;
  }
  .whyText {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding-right: 0px;
    width: 100%;
  }
  .whyContainer {
    display: flex;
  }
  /*** DOCTOR ***/
  .docInfo {
    font-size: 18px;
    width: 41%;
    padding-top: 10px;
    padding-right: 0px;
    margin-left: 30px;
  }
  .docCenter {
    margin-left: 20px;
  }
  /*** REVIEWS ***/
  .reviews {
    background-position: bottom 0px right;
  }
  .reviewTitle {
    top: 60px;
  }
  .reviewSlideText {
    // background-color: pink;
    font-size: 22px;
    margin: 30px auto 26px auto;
    width: 530px;
    line-height: 38px;
  }
  .reviewName {
    font-size: 22px;
  }
  .quoteIcon {
    font-size: 100px;
  }
  .leftQuoteIcon {
    left: 71px;
    top: 60px;
  }
  .rightQuoteIcon {
    right: 70px;
    top: 370px;
  }
  .slick-dots li button:before {
    font-size: 18px;
  }
  .slick-dots li {
    margin: 0 8px;
  }
  /*** TREATMENT OPTIONS ***/
  #treatmentOptions {
    padding-bottom: 70px;
  }
  .treatmentOptionsGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 30px;
    padding: 0 77px;
    grid-row-gap: initial;
  }
  .treatmentBox {
    width: 100%;
  }
  .treatmentOverlay {
    font-size: 22px;
  }
  .bracesText {
    font-size: 18px;
    margin-left: 76px;
    margin-right: 78px;
    margin-top: 30px;
    letter-spacing: 0.6px;
  }
  .bracesVideo {
    padding: 0px 77px;
    margin: 40px auto 0 auto;
    width: 100%;
    display: block;
  }
  .bracesGif {
    display: none;
  }
  .gifWrapper {
    display: none;
  }
  .beforeAfterImg {
    width: 60%;
    margin: 40px auto 0 auto;
  }
  .timelapseDescription {
    font-size: 18px;
  }
  /*** FAQ ***/
  #faq {
    padding-bottom: 20px;
  }
  .faqQuestion {
    font-size: 18px;
  }
  .faqQuestionText {
    letter-spacing: 1px;
    padding-left: 76px;
  }
  .faqNumber {
    left: 46px;
  }
  .faqAnswer {
    margin-left: 76px;
    letter-spacing: 0.7px;
    padding-right: 70px;
    padding-bottom: 54px;
  }
  /*** HOURS & LOCATION ***/
  .officeWrapper {
    width: 50%;
  }
  .officeInfoSchedule {
    position: relative;
    padding-top: 0;
    padding-left: 10px;
  }
  .officeInfoPhone {
    padding-left: 31px;
  }
  .officeInfoIcon {
    font-size: 22px;
    left: 8%;
  }
  #officeAddressIcon {
    margin: 0;
    font-size: 26px;
  }
  .officeInfoGrid {
    font-size: 18px;
    grid-template-columns: 112px 170px;
    grid-template-rows: repeat(7, 29px);
  }
  .officeInfoText {
    font-size: 18px;
  }
  .officeClosed {
    margin-left: 6px;
  }
  .officeInfoAddress {
    line-height: 22px;
    padding-left: 28px;
    margin-bottom: 0;
  }
  .officeMap {
    padding: 0 40px 0 0;
    padding-right: 40px;
    width: 50%;
    margin-top: 0;
  }
  #googleMap {
    height: 364px;
  }
  .officeContainer {
    display: flex;
  }
  .socialMediaBtn {
    width: 60px;
    height: 60px;
    font-size: 26px;
  }
  #instagramIcon {
    font-size: 30px;
  }
  .socialMediaText {
    margin: 60px 0 14px 0;
    font-size: 18px;
  }
  .socialButtons {
    grid-column-gap: 16px;
  }

  #emptyDockSpace {
    height: $tabletDock;
  }
}

/* iPad pro*/
@media only screen and (min-width: 834px) {
  .logoTextTop {
    color: red;
  }
  .desktopNavMenuOpt {
    padding: 2px 16px 0 16px;
  }
  .landingHeading {
    font-size: 68px;
  }
}

@media only screen and (min-width: 1025px) {
  #mainDock {
    display: none;
  }
}

/* iPhone X */
@media only screen and (max-width: 375px) and (min-height: 800px) {
  .bgImg {
    background-position: center left -90px;
  }
  .logoTextBottom {
    background-color: yellow;
  }
  #stats {
    padding-bottom: 50px;
  }
  .statBox {
    height: 180px;
    background-size: 108px;
  }
  .statNumber {
    margin-bottom: 4px;
    font-size: 32px;
  }
}

/* iPhone 5-8 LANDSCAPE */
@media only screen and (max-height: 408px) {
  .navMenuOpt:not(#navSocial) {
    height: 43px;
    font-size: 13px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(2) {
    top: 43px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(3) {
    top: 86px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(4) {
    top: 129px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(5) {
    top: 172px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(6) {
    top: 215px;
  }
  #navSocial {
    height: 43px;
  }
  .navSocialMediaBtn {
    font-size: 18px;
  }
  #navInstagramIcon {
    font-size: 22px;
  }
}

/* ipod touch (smaller than iphone5) - firefox/edge/chrome */
// @media only screen and (max-width: 320px) and (max-height: 453px),
//   (height: 460px) {
//   .logoTextBottom {
//     color: red;
//   }
// }

/* iphone 7 (firefox/edge/chrome)  */
// @media only screen and (min-width: 375px) and (max-height: 552px),
//   only screen and (min-width: 375px) and (height: 559px) {
//   .logoTextBottom {
//     color: green;
//   }
// }
