/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) {
  .landingHeading {
    font-size: 46px;
  }
  .landingSubHeading {
    font-size: 18px;
  }
  #landingBox {
    /* background-position: bottom 0px left -33px; */
  }
}

/* iPhone 6/7/8 PLUS */
@media only screen and (min-width: 414px) {
  .landingHeading {
    font-size: 52px;
  }
  .landingSubHeading {
    font-size: 20px;
  }
  #landingBox {
    /* background-position: bottom 0px left -78px; */
  }
}

/* iPhone X */
@media only screen and (min-height: 800px) and (max-width: 467px) {
  #landingBox {
    background-position: bottom 0px left -130px;
  }
}

/* landingscape */
@media only screen and (max-height: 414px) and (min-width: 414px) {
  #backToTopBtn {
    bottom: 21%;
  }
}
