/* fix horizontal space on chrome for iphone 5 size  */
@media only screen and (max-height: 452px) and (max-width: 320px) {
  #landingBox {
    background-position: bottom 0px left 0px;
  }
  .logoTextBottom {
    color: red;
  }
}

/* iPhone 6/7/8 */
@media only screen and (min-width: 375px) {
  #landingBox {
    background-position: bottom 0px left -41px;
  }
  .landingHeading {
    font-size: 46px;
  }
  .landingSubHeading {
    font-size: 18px;
    line-height: 22px;
  }
  .contactBtnText {
    font-size: 14px;
  }
  .contactFormInput {
    font-size: 17px;
  }
  .contactFormBtnText {
    font-size: 16px;
  }
  .formBtnIcon {
    font-size: 18px;
  }
  .statBox {
    height: 140px;
  }
  .statDescription {
    font-size: 17px;
  }
  .statNumber {
    font-size: 29px;
  }
  /* #statSmileImg {
    height: 99px;
    left: 21px;
  }
  #statClockImg {
    height: 91px;
    left: 23px;
    top: 29px;
  }
  #statToothImg {
    height: 84px;
    top: 38px;
  } */
}

/* iPhone 6/7/8 PLUS */
@media only screen and (min-width: 414px) {
  #landingBox {
    /* background-position: bottom 0px left -78px; */
  }
  .landingHeading {
    font-size: 52px;
  }
  .landingSubHeading {
    font-size: 20px;
    line-height: 23px;
  }
  .contactBtnText {
    font-size: 15px;
  }
}

/* iPhone X */
@media only screen and (min-height: 800px) and (max-width: 467px) {
  #landingBox {
    background-position: bottom 0px left -130px;
  }
}

/* landingscape */
@media only screen and (max-height: 414px) and (min-width: 414px) {
  #backToTopBtn {
    bottom: 21%;
  }
}
