/* iPhone 6/7/8 (safari) */
@media only screen and (min-width: 375px) and (min-height: 545px) {
  /*** NAV ***/
  .navMenuOpt:not(#navSocial) {
    height: 58px;
    font-size: 16px;
    top: -58px;
  }
  #navSocial {
    height: 58px;
    top: -58px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(2) {
    top: 58px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(3) {
    top: 116px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(4) {
    top: 174px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(5) {
    top: 232px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(6) {
    top: 290px;
  }
  .navSocialMediaBtn {
    font-size: 24px;
  }
  .contactBtnText {
    font-size: 14px;
  }
  .treatmentBox {
    height: 120px;
  }
  .sectionTitle {
    font-size: 22px;
  }
  .officeInfoIcon {
    font-size: 22px;
  }
  #officeScheduleIcon {
    top: -4px;
  }
  #officeAddressIcon {
    font-size: 24px;
  }
  .officeMap {
    padding: 0 50px;
  }
  /*** LANDING ***/
  .landingHeading {
    font-size: 40px;
    width: 210px;
    line-height: 42px;
  }
  .landingSubHeading {
    font-size: 17px;
    line-height: 22px;
    width: 260px;
  }
  /*** STATS ***/
  .statBox {
    height: 170px;
    background-size: 110px;
  }
  .statNumber {
    font-size: 34px;
  }
  /*** ABOUT ***/
  #aboutUs {
    border-radius: 0px 0px 220px 220px;
    padding-bottom: 246px;
  }
  .aboutText {
    font-size: 16px;
    padding-left: 14px;
    padding-right: 9px;
  }
  .lowerReasons {
    margin-bottom: 40px;
  }
  .awardImg {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -124px;
  }
  /*** REVIEWS ***/
  .reviewTitle {
    font-size: 22px;
  }
  #reviewSlider {
    height: 540px;
  }
  .reviewSlideText {
    font-size: 18px;
  }
  /*** FORM ***/
  #messageInput {
    height: 200px;
  }
  .contactFormInput {
    font-size: 18px;
  }
  .formBtnText {
    font-size: 18px;
  }
  .formBtnIcon {
    font-size: 24px;
  }
}

/* iPhone 6/7/8 PLUS */
@media only screen and (min-width: 414px) {
  .contactBtnText {
    font-size: 15px;
  }
  #doctorWrapper {
    padding-top: 30px;
  }
  .officeMap {
    padding: 0 60px;
  }
  #officeScheduleIcon {
    left: -23px;
  }
  #officePhoneIcon {
    left: -45px;
  }
  #officeAddressIcon {
    left: -41px;
  }
  .leftQuoteIcon {
    left: 20px;
  }
  .rightQuoteIcon {
    right: 20px;
  }
  .beforeAfterBox {
    margin: 30px auto 0 auto;
    width: 280px;
  }
  .gifWrapper {
    margin-top: 40px;
  }
  .treatmentBtnMessage {
    width: 202px;
    font-size: 20px;
  }
  .faqAnswer {
    padding-right: 15px;
    letter-spacing: 0.6px;
  }
  /*** LANDING ***/
  .landingText {
    bottom: 11%;
  }
  .landingHeading {
    font-size: 48px;
    width: 250px;
    line-height: 50px;
  }
  .landingSubHeading {
    font-size: 20px;
    line-height: 23px;
    width: 300px;
  }
  .bgImg {
    background-position: center left -100px;
  }
  /*** STATS ***/
  #stats {
    padding-bottom: 50px;
  }
  .statBox {
    height: 190px;
    background-size: 120px;
  }
  .statDescription {
    font-size: 19px;
  }
  .statNumber {
    font-size: 36px;
  }
  /*** ABOUT ***/
  #aboutUs {
    border-radius: 0;
    padding-bottom: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .teethImg {
    display: block;
    margin: 0 auto 30px auto;
    width: 250px;
  }
  .aboutText {
    padding-right: 18px;
  }
  .whyText {
    padding-right: 24px;
  }
  .awardImg {
    position: initial;
    margin: 0 auto;
  }
  /*** REVIEWS ***/
  #reviewSlider {
    height: 580px;
  }
  .reviewSlideText {
    margin: 30px 31px 26px 55px;
    line-height: 30px;
  }
  .rightQuoteIcon {
    top: 350px;
  }
  /*** FOOTER ***/
  footer {
    background-size: 520px;
  }
  .footerNavLogoName {
    padding-left: 30px;
  }
  .footerGridOpt {
    padding-left: 30px;
  }
  /*** FORM ***/
  .formDescription {
    font-size: 16px;
  }
  .contactFormText {
    font-size: 16px;
  }
  #backArrow {
    left: 20px;
  }
  .switchText {
    right: 22px;
  }
  .switch {
    right: 14px;
  }
}

@media only screen and (min-width: 532px) {
  .mainBtn {
    height: 46px;
    width: 46px;
    font-size: 24px;
  }
  .bgImg {
    background-position: center center;
  }
  .sectionTitle {
    font-size: 24px;
  }
  .upperReasons {
    margin-bottom: 44px;
  }
  .teethImg {
    width: 300px;
  }
  .aboutText {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    line-height: 30px;
  }
  .docInfo {
    width: 460px;
    font-size: 18px;
    margin: 0 auto;
    padding-right: 0px;
  }
  .doctorName {
    font-size: 28px;
  }
  .whyBulletPoint {
    margin-left: 22px;
    font-size: 25px;
  }
  .whyText {
    padding-right: 33px;
    font-size: 18px;
  }
  .reviewTitle {
    font-size: 24px;
    top: 62px;
  }
  .reviewSlideText {
    margin: 30px 68px 26px 96px;
    font-size: 20px;
  }
  .leftQuoteIcon {
    left: 36px;
  }
  .rightQuoteIcon {
    right: 36px;
    top: 390px;
  }
  .treatmentImgGrid {
    padding: 0 60px;
  }
  .bracesText {
    margin: 40px 60px 0px 60px;
    font-size: 18px;
  }
  .timelapseDescription {
    font-size: 18px;
  }
  .reviewName {
    font-size: 20px;
  }
  .gifWrapper {
    padding: 0 60px;
  }
  .awardImg {
    height: 220px;
  }
  .whyReason {
    margin-bottom: 46px;
  }
  .faqQuestion {
    font-size: 18px;
  }
  .faqQuestionText {
    padding-left: 57px;
  }
  .faqAnswer {
    font-size: 18px;
    padding-right: 48px;
    margin-left: 57px;
  }
  .faqNumber {
    left: 24px;
  }
  .officeInfoGrid {
    font-size: 18px;
    -ms-grid-columns: 110px 169px;
    grid-template-columns: 110px 169px;
    -ms-grid-rows: (29px) [7];
    grid-template-rows: repeat(7, 29px);
  }
  .officeInfoText {
    font-size: 18px;
  }
  .socialMediaText {
    font-size: 18px;
  }
  .officeInfoIcon {
    font-size: 26px;
  }
  #officeScheduleIcon {
    left: -37px;
  }
  #officePhoneIcon {
    left: -74px;
  }
  #officeAddressIcon {
    font-size: 28px;
    left: -70px;
  }
  .officeMap {
    padding: 0 90px;
  }
  .beforeAfterText {
    font-size: 18px;
  }
  footer {
    background-size: 590px;
    background-position: top 64px left -80px;
  }
  /*** FORM ***/
  .formWrapper {
    width: 412px;
    margin: 0 auto;
  }
  .formTitle {
    padding-top: 60px;
    font-size: 26px;
  }
  .formDescription {
    font-size: 18px;
    line-height: 26px;
    padding: 0;
  }
  .contactFormText {
    font-size: 18px;
  }
  .contactFormInput {
    font-size: 22px;
    padding-left: 14px;
    height: 60px;
  }
  .formIcon {
    font-size: 26px;
  }
  .formAsterik {
    font-size: 16px;
  }
  .formOption {
    padding: 0px;
  }
  .formMessage {
    padding: 0px 0px 153px 0px;
  }
  #messageInput {
    padding: 8px 8px 0 15px;
    height: 400px;
  }
  input.contactFormInput:valid {
    background-size: 32px;
  }
  .contactFormBtn {
    border-right: 3px solid #e8e8e8;
  }
  .formSubmitBtnReady {
    border: none;
  }
  #formButtons {
    border-top: 3px solid #e8e8e8;
  }
  .formBtnText {
    font-size: 22px;
  }
  .formBtnIcon {
    font-size: 28px;
  }
  .switch {
    right: 26px;
    top: 54px;
  }
  .switchText {
    right: 34px;
    top: 26px;
  }
  #backArrow {
    left: 30px;
    height: 50px;
    width: 50px;
    font-size: 22px;
  }
}

@media only screen and (min-width: 667px) {
  .reviewTitle {
    top: 72px;
  }
  .siteMapGrid {
    margin-top: 34px;
  }
  .sectionTitle {
    font-size: 24px;
  }
  .treatmentOptionsGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (auto) [3];
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 40px;
  }
  .optionsGridBox {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: 30px;
  }
  .treatmentImgGrid {
    padding: 0;
  }
  .treatmentBox {
    height: 100%;
    width: 270px;
  }
  .beforeAfter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 10px;
  }
  .beforeAfterBox {
    height: 130px;
    width: 210px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    margin: 0 60px 0 0;
  }
  .gifWrapper {
    padding: 0 60px;
    margin: 0 auto;
    max-width: 530px;
  }
  .treatmentBtnWrapper {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / span 1;
    margin-top: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-left: -20px;
  }
  #beforeText {
    left: 30px;
  }
  #afterText {
    right: 40px;
  }
  /*** LANDING ***/
  #aboutUs {
    background-color: whitesmoke;
    padding-bottom: 60px;
  }
  .whyText {
    line-height: 24px;
    padding-right: 0;
  }
  .whyBulletPoint {
    margin-left: 9px;
  }
  .whyReason {
    margin-bottom: 46px;
  }
  .whyGrid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [10];
    grid-template-columns: repeat(10, 1fr);
    -ms-grid-rows: (auto) [2];
    grid-template-rows: repeat(2, auto);
    position: relative;
  }
  .upperReasons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    margin-bottom: 46px;
  }
  .lowerReasons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    padding-right: 10px;
    margin-bottom: 0px;
  }
  .setWidth {
    width: 60%;
  }
  .awardImg {
    -ms-grid-column: 7;
    -ms-grid-column-span: 4;
    grid-column: 7 / span 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    height: 180px;
    position: absolute;
    top: 88px;
    right: 28px;
    bottom: initial;
    left: initial;
  }
  /*** STATS ***/
  #stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(80, 86, 103, 0.6);
    padding: 10px 0;
  }
  .statBox {
    width: 33%;
    max-width: 314px;
    height: 310px;
    background-size: 128px;
    background-color: whitesmoke;
    border-radius: 30px;
    /* border: 2px solid #0094f0; */
    margin: 20px;
    background-position: top 32px center;
    display: initial;
    position: relative;
  }
  .learnMoreStatBtn {
    display: none;
  }
  .statNumber {
    position: absolute;
    top: 194px;
    width: 100%;
    text-align: center;
  }
  .statDescription {
    position: absolute;
    top: 236px;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  #yearDescription {
    position: initial;
    width: 200px;
    margin: 236px auto 0 auto;
  }
  /*** DOCTOR ***/
  #doctor {
    padding-bottom: 80px;
  }
  .docContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .docInfo {
    font-size: 18px;
    width: 45%;
    margin: 10px 0 0 0;
  }
  .doctorName {
    margin: 0 auto 38px auto;
  }
  .docCenter {
    margin: 0px 20px 0px 0px;
  }
  .bracesText {
    font-size: 18px;
    margin: 6px 35px 0px 0px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
  }
  .timelapseDescription {
    font-size: 18px;
    text-align: center;
  }
  .treatmentAnimation {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / span 1;
    padding-top: 20px;
  }
  .faqQuestionText {
    font-size: 18px;
  }
  .faqAnswer {
    font-size: 18px;
  }
  .officeInfoText {
    font-size: 18px;
    margin: 0;
  }
  .officeInfoPhone {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 14px;
  }
  .officeInfoAddress {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 15px;
  }
  .officeInfoIcon {
    font-size: 24px;
  }
  #officeScheduleIcon {
    left: -17px;
  }
  #officePhoneIcon {
    left: -53px;
  }
  #officeAddressIcon {
    left: -49px;
    font-size: 26px;
  }
  .officeContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .officeWrapper {
    width: 50%;
    padding-left: 40px;
  }
  .officeMap {
    width: 50%;
    margin-top: 0px;
    padding: 0 40px 0 40px;
  }
  #googleMap {
    height: 360px;
  }
  .socialMediaText {
    font-size: 18px;
  }
  .officeInfoSchedule {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  footer {
    background-position: top 74px left -110px;
    background-size: 800px;
    padding-top: 24px;
  }
  .footerlogoTextTop {
    letter-spacing: 1px;
    font-size: 30px;
  }
  .footerlogoTextBottom {
    font-size: 22px;
  }
  /*** FORM ***/
  .formWrapper {
    width: 460px;
  }
  .formDescription {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 20px;
  }
  .formOption {
    margin-bottom: 30px;
  }
  .contactFormText {
    font-size: 20px;
  }
  #backArrow {
    width: 54px;
    height: 54px;
    left: 36px;
    font-size: 24px;
  }
  .switchText {
    font-size: 14px;
    right: 36px;
    top: 20px;
  }
  .switch {
    right: 28px;
  }
}

/* iPad mini/air */
@media only screen and (min-width: 768px) {
  .toolTip {
    width: 124px;
    height: 42px;
    font-size: 16px;
    left: -136px;
    top: 8px;
  }
  #landingBox {
    height: calc(100vh - 58px - 71px);
  }
  .bgImg {
    height: calc(100vh - 58px - 71px);
  }
  .landingHeading {
    font-size: 64px;
    width: 340px;
    line-height: 66px;
  }
  .landingSubHeading {
    font-size: 24px;
    line-height: 32px;
    width: 370px;
  }
  .sectionTitle {
    font-size: 24px;
  }
  .mainBtn {
    width: 54px;
    height: 54px;
    font-size: 28px;
  }
  #backToTopBtn {
    bottom: 12%;
    right: 30px;
  }
  #mainDock {
    border-top: 3px solid #e8e8e8;
  }
  .dockContactBtn {
    height: 68px;
    border-right: 3px solid #e8e8e8;
  }
  .contactBtnText {
    font-size: 18px;
    letter-spacing: 0.5px;
  }
  .contactIcon {
    font-size: 22px;
    margin-right: 6px;
  }
  #messageIcon {
    margin-right: 8px;
  }
  .statBox {
    background-size: 136px;
  }
  .beforeAfterBox {
    width: 230px;
  }
  .treatmentBtnWrapper {
    margin-left: -10px;
    margin-top: 10px;
  }
  /*** NAV ***/
  #navToggleBtn {
    display: none;
  }
  .desktopNavMenuOpt {
    top: initial;
    position: initial;
    padding: 4px 11px 0 11px;
    text-decoration: none;
  }
  #navMenu {
    display: none;
  }
  #desktopNavMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
  }
  #navbar {
    border-top: none;
  }
  a.desktopNavMenuOpt#lastNavOpt {
    padding-right: 14px;
  }
  /*** ABOUT ***/
  .aboutText {
    letter-spacing: 0.5px;
    line-height: 32px;
    font-size: 18px;
    padding-left: 56px;
    padding-right: 70px;
  }
  .whyReason {
    margin-bottom: 48px;
  }
  .whyBulletPoint {
    font-size: 28px;
    margin-left: 46px;
  }
  .whyText {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0.5px;
    padding-right: 0px;
    width: 100%;
  }
  .lowerReasons {
    padding-right: 0px;
    width: 710px;
  }
  .awardImg {
    height: 200px;
    right: 36px;
  }
  .upperReasons {
    margin-bottom: 48px;
  }
  /*** REVIEWS ***/
  .reviews {
    background-position: bottom 0px right;
  }
  .reviewSlideText {
    font-size: 22px;
    margin: 30px auto 26px auto;
    width: 530px;
    line-height: 38px;
  }
  .reviewName {
    font-size: 22px;
  }
  .quoteIcon {
    font-size: 100px;
  }
  .leftQuoteIcon {
    left: 80px;
    top: 60px;
  }
  .rightQuoteIcon {
    right: 80px;
    top: 370px;
  }
  .slick-dots li button:before {
    font-size: 18px;
  }
  .slick-dots li {
    margin: 0 8px;
  }
  .treatmentBox {
    width: 290px;
  }
  .treatmentOverlay {
    font-size: 22px;
  }
  .bracesVideo {
    padding: 0px 77px;
    margin: 0px auto 0 auto;
    width: 100%;
    display: block;
    max-width: 800px;
    outline: none;
  }
  .bracesText {
    margin: 6px 60px 0px 0px;
  }
  .timelapseDescription {
    font-size: 18px;
  }
  /*** FAQ ***/
  #faq {
    padding-bottom: 20px;
  }
  .faqQuestion {
    font-size: 18px;
  }
  .faqQuestionText {
    letter-spacing: 1px;
    padding-left: 76px;
  }
  .faqNumber {
    left: 46px;
  }
  .faqAnswer {
    margin-left: 76px;
    letter-spacing: 0.7px;
    padding-right: 70px;
    padding-bottom: 54px;
  }
  /*** HOURS & LOCATION ***/
  .officeClosed {
    margin-left: 6px;
  }
  .officeInfoAddress {
    line-height: 22px;
    padding-right: 35px;
  }
  .officeInfoSchedule {
    padding-right: 20px;
  }
  .officeInfoPhone {
    padding-right: 34px;
  }
  #googleMap {
    height: 364px;
  }
  .officeMap {
    padding: 0 60px 0 40px;
  }
  .socialMediaBtn {
    width: 60px;
    height: 60px;
    font-size: 26px;
  }
  #instagramIcon {
    font-size: 30px;
  }
  .socialMediaText {
    margin: 60px 0 14px 0;
    font-size: 18px;
  }
  .socialButtons {
    grid-column-gap: 16px;
  }
  .officeInfoIcon {
    font-size: 26px;
  }
  #officeScheduleIcon {
    left: -27px;
  }
  #officePhoneIcon {
    left: -63px;
  }
  #officeAddressIcon {
    left: -59px;
    font-size: 28px;
  }
  /*** FORM ***/
  .formWrapper {
    width: 463px;
  }
  .formDescription {
    font-size: 22px;
    line-height: 28px;
  }
  .formIcon {
    font-size: 26px;
  }
  .formAsterik {
    font-size: 16px;
  }
  .contactFormBtn {
    height: 68px;
    border-right: 3px solid #e8e8e8;
  }
  .formSubmitBtnReady {
    border: none;
  }
  #contactForm.displayHidden #formButtons {
    bottom: -71px;
  }
  #formButtons {
    border-top: 3px solid #e8e8e8;
  }
  .formBtnText {
    font-size: 24px;
  }
  .formBtnIcon {
    font-size: 30px;
  }
  .switchText {
    font-size: 15px;
  }
  .switch {
    top: 56px;
  }
  #backArrow {
    width: 56px;
    height: 56px;
    font-size: 26px;
  }
  footer {
    background-size: 930px;
    background-position: top 70px left -140px;
  }
  #emptyDockSpace {
    height: 71px;
  }
}

/* iPad pro*/
@media only screen and (min-width: 834px) {
  .treatmentImgGrid {
    -ms-grid-rows: (110px) [2];
    grid-template-rows: repeat(2, 110px);
  }
  #emptyDockSpace {
    display: none;
  }
  .desktopLandingBtns {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (150px) [2];
    grid-template-columns: repeat(2, 150px);
    -ms-grid-rows: 56px;
    grid-template-rows: 56px;
    grid-column-gap: 20px;
    margin: 18px 0 0 6px;
  }
  #desktopFormBtn {
    display: block;
  }
  #backToTopBtn {
    bottom: 112px;
  }
  #mainDock {
    display: none;
  }
  #landingBox {
    height: calc(100vh - 58px);
  }
  .bgImg {
    height: calc(100vh - 58px);
  }
  .desktopNavMenuOpt {
    padding: 2px 16px 0 16px;
  }
  .landingHeading {
    font-size: 68px;
    line-height: 70px;
  }
  .officeMap {
    padding: 0 80px 0 40px;
  }
  .upperReasons {
    padding-right: 30px;
  }
  .lowerReasons {
    width: 730px;
  }
  .awardImg {
    height: 230px;
    top: 68px;
  }
  .officeInfoSchedule {
    padding-right: 40px;
  }
  .officeInfoPhone {
    padding-right: 54px;
  }
  .officeInfoAddress {
    padding-right: 55px;
  }
  .leftQuoteIcon {
    left: 95px;
  }
  .rightQuoteIcon {
    right: 95px;
  }
  .bracesText {
    width: 327px;
  }
  .bracesVideo {
    padding: 0px 90px;
  }
  .beforeAfterBox {
    width: 260px;
    margin: 0 40px 0 0;
  }
  #beforeText {
    bottom: -12px;
    left: 38px;
  }
  #afterText {
    bottom: -12px;
    right: 48px;
  }
  #treatmentOptions {
    padding-bottom: 70px;
  }
  .treatmentBtnWrapper {
    margin-left: 10px;
  }
  footer {
    background-size: 990px;
  }
  .footerGridOpt {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  .bgImg {
    background-image: url(images/smilebgHQ.png);
  }
  .footerGridOpt {
    font-size: 16px;
  }
  #faqTitle {
    margin-bottom: 80px;
  }
  .mainBtn {
    width: 58px;
    height: 58px;
  }
  .awardImg {
    height: 260px;
    top: 36px;
  }
  .lowerReasons {
    width: 100%;
  }
  .leftQuoteIcon {
    left: 120px;
  }
  .rightQuoteIcon {
    right: 120px;
  }
  .treatmentBox {
    width: 340px;
  }
  .bracesText {
    width: 390px;
  }
  .bracesVideo {
    padding: 0px 20px;
  }
  .beforeAfterBox {
    width: 310px;
  }
  #beforeText {
    bottom: -38px;
    left: 54px;
  }
  #afterText {
    bottom: -38px;
    right: 64px;
  }
  .treatmentBtnWrapper {
    margin-top: 40px;
    margin-left: 30px;
  }
  footer {
    background-size: 1220px;
    background-position: top 68px left -180px;
  }
  .footerlogoTextTop {
    font-size: 34px;
  }
  .footerlogoTextBottom {
    letter-spacing: 0.8px;
    font-size: 25px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
  #landingBox {
    height: calc(100vh - 58px);
  }
  .bgImg {
    height: calc(100vh - 58px);
  }
  .mapWrapper {
    margin: 0;
  }
}

@media only screen and (min-width: 1185px) {
  .landingText {
    left: 50%;
    margin-left: -510px;
  }
  .sectionTitle {
    margin: 70px 0 70px 0;
  }
  .aboutText {
    padding: 0px;
    width: 1000px;
  }
  .whyBulletPoint {
    margin-left: 0px;
  }
  .leftQuoteIcon {
    left: 50%;
    margin-left: -365px;
  }
  .rightQuoteIcon {
    right: 50%;
    margin-right: -365px;
  }
  .reviews {
    background-position: top -140px right;
  }
  .upperReasons {
    -ms-grid-column: 1;
    -ms-grid-column-span: 10;
    grid-column: 1 / span 10;
    margin-bottom: 48px;
  }
  footer {
    background-size: 1530px;
    background-position: top 66px left -250px;
  }
  #backArrow {
    left: 50%;
    margin-left: -380px;
  }
  .switch {
    right: 50%;
    margin-right: -390px;
  }
  .switchText {
    right: 50%;
    margin-right: -382px;
  }
  #contactForm {
    background-color: black;
  }
  #contactForm.lightTheme .formWrapper {
    background-color: whitesmoke;
  }
  #contactForm.lightTheme {
    background-color: gainsboro;
  }
  .formWrapper {
    background-color: #191919;
    width: 840px;
  }
  .formOption {
    margin: 0 auto 30px auto;
    width: 470px;
  }
  .formDescription {
    width: 470px;
    margin: 60px auto 50px auto;
  }
  .formMessage {
    width: 470px;
    margin: 0 auto;
  }
}

/* iPhone X */
@media only screen and (max-width: 375px) and (height: 619px) {
  .bgImg {
    background-position: center left -140px;
  }
  #stats {
    padding-bottom: 50px;
  }
  .statBox {
    height: 180px;
    background-size: 108px;
  }
  .statNumber {
    margin-bottom: 4px;
    font-size: 32px;
  }
}

/* iPhone 5-8 LANDSCAPE */
@media only screen and (max-height: 408px) {
  .navMenuOpt:not(#navSocial) {
    height: 43px;
    font-size: 13px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(2) {
    top: 43px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(3) {
    top: 86px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(4) {
    top: 129px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(5) {
    top: 172px;
  }
  .openMenu#navMenu .navMenuOpt:nth-child(6) {
    top: 215px;
  }
  #navSocial {
    height: 43px;
  }
  .navSocialMediaBtn {
    font-size: 18px;
  }
  #navInstagramIcon {
    font-size: 22px;
  }
}

/* CORRECT THE BG POSITION SHIFT FROM 414px WIDTH FOR IPHONE 11 */
@media only screen and (min-width: 414px) and (max-height: 790px) {
  .bgImg {
    background-position: center center;
  }
  .landingText {
    bottom: 19%;
  }
}

@media only screen and (min-width: 913px) and (max-height: 708px) {
  .bgImg {
    background-position: bottom -350px left;
  }
}

@media only screen and (hover: hover) {
  .mainBtn:hover {
    background-color: rgba(25, 25, 25, 0.6);
  }
  .landingBtn:hover {
    background-color: rgba(25, 25, 25, 0.6);
  }
  .landingBtn:hover .fa-phone {
    color: #2aae2a;
  }
  .landingBtn:hover .fa-map-marker-alt {
    color: #ee0a0a;
  }
  #desktopFormBtn:hover .fa-comment {
    color: #0094f0;
  }
  #backToTopBtn:hover .fa-chevron-up {
    color: #0094f0;
  }
  .mainBtn:hover .toolTip {
    opacity: 1;
    visibility: initial;
  }
  .landingBtn:hover .landingBtnToolTip {
    opacity: 1;
    visibility: initial;
  }
  .desktopNavMenuOpt:hover {
    color: #0094f0;
  }
  .socialMediaBtn:hover {
    background-color: #b3b3b3;
  }
  #contactForm.lightTheme #backArrow:hover {
    background-color: gainsboro;
  }
  #backArrow:hover {
    background-color: #343434;
  }
  #formCancelBtn:hover {
    background-color: gainsboro;
  }
  .footerGridOpt a:hover {
    color: grey;
  }
}

@media only screen and (min-width: 1360px) and (max-height: 1210px) {
  .bgImg {
    background-position: top -320px left 0px;
  }
  .landingHeading {
    font-size: 72px;
  }
  footer {
    background-size: 1720px;
    background-position: top 62px left -270px;
  }
  .footerGridOpt {
    font-size: 18px;
    padding: 9px 0px 9px 30px;
  }
}

@media only screen and (min-width: 1900px) and (max-height: 1210px) {
  .bgImg {
    background-position: top -460px left 0px;
  }
}
/*# sourceMappingURL=mobile.css.map */
