* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}
#wrapper {
  height: 100%;
}
html {
  height: auto;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}
.overflowHidden {
  touch-action: none;
  overflow: hidden;
  /* position: fixed; */
}
.displayHidden {
  display: none !important;
}
.openMenu {
  top: 58px !important;
}
#navOverlay {
  background: black;
  opacity: 0.6;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
}
#formOverlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 260;
  display: flex;
  justify-content: center;
  align-items: center;
}
#confirmWindow {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  width: 67%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s;
}
#confirmWindow.visibleConfirmWindow {
  opacity: 1;
}
#confirmWindow.visibleConfirmWindow .confirmIcon {
  color: #2ba52b;
}
.confirmIcon {
  color: white;
  font-size: 58px;
  transition: color 2s;
}
.confirmText {
  color: white;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 12px;
}
.unselectable {
  user-select: none;
  -webkit-user-select: none;
}
/* ******************** MAIN NAV-BAR ******************** */
#navbar {
  z-index: 250;
  background-color: whitesmoke;
  height: 58px;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 2px solid #e8e8e8;
}
.navLogoIcon {
  /* background-color: pink; */
  position: absolute;
  left: 11px;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}
#mainLogo {
  height: 34px;
}
.navLogoName {
  /* background-color: orange; */
  position: absolute;
  left: 50px;
  top: 10px;
}
.logoTextTop {
  /* background-color: lightgreen; */
  font-size: 19px;
  letter-spacing: 0.5px;
  font-family: "Russo One", sans-serif;
}
.logoTextBottom {
  /* background-color: orange; */
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: "Titillium Web", sans-serif;
}
.navToggleBtn {
  /* background-color: pink; */
  outline: none;
  width: 58px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border-left: 2px solid #e8e8e8;
}
.navToggleIcon {
  font-size: 24px;
  color: black;
}
.navToggleBtn:active {
  /* background-color: #e8e8e8; */
  background-color: gainsboro;
}
#backToTopBtn {
  display: flex;
  color: gainsboro;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14%;
  right: 24px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  background-color: rgba(224, 224, 224, 0.5);
}
.upBtn {
  font-size: 18px;
  margin-bottom: 2px;
}
/* *********************** SIDE NAV WINDOW *********************** */
#navWindow {
  position: fixed;
  width: 100%;
  top: -192px;
  right: 0;
  z-index: 200;
  /* display: flex;
  flex-direction: column; */
}
.sideNavMenuOpt {
  background-color: whitesmoke;
  color: #616161;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  transition: top 0.1s;
}
.openMenu .sideNavMenuOpt:nth-child(1) {
  top: 0px;
  transition-delay: 0;
  z-index: 10;
}
.openMenu .sideNavMenuOpt:nth-child(2) {
  top: 50px;
  transition-delay: 0.03s;
  z-index: 9;
}
.openMenu .sideNavMenuOpt:nth-child(3) {
  top: 100px;
  transition-delay: 0.06s;
  z-index: 8;
}
.openMenu .sideNavMenuOpt:nth-child(4) {
  top: 150px;
  transition-delay: 0.09s;
  z-index: 7;
}
.openMenu .sideNavMenuOpt:nth-child(5) {
  top: 200px;
  transition-delay: 0.12s;
  z-index: 6;
}
.sideNavMenuOpt:active {
  background-color: gainsboro;
}
/* ******************* CONTACT FORM ******************* */
#contactForm {
  background-color: whitesmoke;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 58px);
  position: fixed;
  z-index: 100;
  top: 58px;
}
#formTitle {
  /* background: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.backArrow {
  /* background-color: pink; */
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 22px;
  color: darkgray;
  height: 70px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 6px; */
  padding-top: 6px;
}
.backArrow:active {
  color: black;
}
.messageMenuTitle {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#formDescription {
  padding: 0px 20px;
  height: 80px;
}
.contactFormSubHeading {
  font-size: 14px;
  line-height: 18px;
  color: black;
  letter-spacing: 0.3px;
}
.formOption {
  margin-bottom: 16px;
  padding: 0px 20px;
}
.formIcon {
  /* background-color: pink; */
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 20px;
  color: lightgray;
}
#fullNameIcon {
  /* right: 14px; */
  /* top: 17px; */
}
#emailIcon {
  /* top: 19px; */
}
.contactFormText {
  /* background-color: pink; */
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  margin-bottom: 2px;
}
.formAsterik {
  color: red;
  margin-left: 3px;
  font-size: 14px;
}
.fullNameField,
.emailField,
.phoneField {
  width: 100%;
  position: relative;
}
.contactFormInput {
  background-color: white;
  height: 54px;
  border: 2px solid #e8e8e8;
  padding-left: 13px;
  width: 100%;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-right: 40px;
  padding-top: 2px;
}
.contactFormInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
.contactFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}
.contactFormInput::-webkit-input-placeholder {
  color: #999;
}
.contactFormInput::-ms-input-placeholder {
  /* Internet Explorer 10-11, Edge */
  color: #999;
}
#formMessage {
  /* background: pink; */
  padding: 0px 20px 150px 20px;
}
#messageInput {
  padding: 8px 8px 0 8px;
  height: 140px;
}
#messageInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
#messageInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}
#messageInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
#messageInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
#formButtons {
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  padding: 8px;
  border-top: 2px solid gainsboro;
}
.contactFormBtn {
  outline: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  border: 3px solid silver;
  background-color: white;
}
.formSubmitBtnDisabled {
  border: 3px solid gainsboro;
  color: silver;
  opacity: 0.6;
  margin-right: 4px;
  background-color: whitesmoke;
}
.formSubmitBtnReady {
  border: none;
  color: white;
  margin-right: 4px;
  background-color: #10b020;
}
.formSubmitBtnReady:active {
  background-color: #0b7a16;
}
.formSubmitBtnReady:active .formCheckIcon {
  font-size: 22px;
}
#formCancelBtn {
  margin-left: 4px;
}
#formCancelBtn:active {
  background-color: silver;
  color: white;
}
.formCancelIcon {
  font-size: 16px;
}
.contactFormBtnText {
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
/* **************** BUTTONS DOCK **************** */
#mainDock {
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 8px;
  padding: 8px;
  border-top: 2px solid gainsboro;
}
.dockContactBtn {
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: 3px solid silver;
}
.dockContactBtn:active {
  /* border: 3px solid #1f93ff; */
  background-color: silver;
  color: white;
}
.dockContactBtn:active .contactBtnText {
  color: white;
}
.dockContactBtn:active #directionsIcon {
  font-size: 14px;
}
.dockContactBtn:active #callIcon {
  font-size: 22px;
}
.dockContactBtn:active #messageIcon {
  font-size: 14px;
}
#callBtn {
  grid-column: 1/2;
  grid-row: 1/2;
  text-decoration: none;
}
#directionsBtn {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}
#messageBtn {
  grid-column: 3/4;
}
.contactIcon {
  /* background: yellow; */
  margin-right: 4px;
  font-size: 18px;
}
#directionsIcon {
  color: red;
}
#callIcon {
  color: #2ba52b;
}
#messageIcon {
  color: #1f93ff;
  margin-right: 5px;
}
.contactBtnText {
  /* letter-spacing: 0.5px; */
  /* background: orange; */
  color: #616161;
  font-size: 13px;
  /* font-family: "Titillium Web", sans-serif; */
  font-family: "Roboto", sans-serif;
}
/* ************************** CONTENT ************************** */
#landingBox {
  height: calc(100vh - 116px);
  /* background-color: silver; */
  margin-top: 58px;
  position: relative;
}
.landingImg {
  background-image: url("./smile2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70%;
  /* width: 100%; */
}
.gradient {
  /* background-color: rgb(38, 50, 56); */
  /* opacity: 0.5; */
  height: 70%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    180deg,
    rgba(250, 170, 169, 0) 2%,
    rgba(255, 255, 255, 1) 55%
  );
}
.landingText {
  /* background: pink; */
  /* height: 37%; */
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.landingHeading {
  /* background: lightgreen; */
  /* font-family: "Russo One", sans-serif; */
  font-family: "Fredoka One", cursive;
  /* font-style: italic; */
  text-align: center;
  font-size: 34px;
  margin: 0 auto;
  padding: 0 40px;
  letter-spacing: 1px;
}
.landingSubHeading {
  /* background: lightpink; */
  text-align: center;
  width: 80%;
  margin: 10px auto 20px auto;
  font-family: "Titillium Web", sans-serif;
}
#stats {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 50px;
}
.statBox {
  /* background-color: lightblue; */
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statNumber {
  /* background-color: yellow; */
  color: #37d0e1;
  font-size: 27px;
  margin-bottom: 2px;
}
#statCases::after {
  content: "+";
}
#statPercent::after {
  content: "%";
}
.statDescription {
  font-size: 16px;
  letter-spacing: 0.4px;
}
.statBtnBar {
  /* background-color: aqua; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.learnMoreStatBtn {
  /* background-color: #37d0e1; */
  background: linear-gradient(to bottom, #37d0e1 0%, #2eb1bf 100%);
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 220px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.learnMoreStatBtn:active {
  background: #1e7f8a;
}
/* **************** OFFICE INFO **************** */
#officeInfo {
  background-color: #383f43;
  padding-top: 10px;
  /* font-family: "Titillium Web", sans-serif; */
}
.officeInfoHeading {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 40px 0 50px 0;
  letter-spacing: 0.8px;
}
.officeInfoSchedule {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 2px;
}
.officeInfoGrid {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: repeat(7, 26px);
}
.officeDay {
  color: white;
  text-align: right;
  letter-spacing: 0.9px;
}
.officeTime {
  text-align: center;
  color: #b3b3b3;
  letter-spacing: 0.3px;
}
.officeClosed {
  text-align: left;
  margin-left: 5px;
}
.officeInfoAddress {
  position: relative;
  margin-bottom: 20px;
  line-height: 20px;
  padding-left: 18px;
}
.officeMap {
  padding: 0 23px;
}
.mapWrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
#googleMap {
  margin: 0 auto;
  display: block;
  height: 230px;
  width: 100%;
}
.officeInfoPhone {
  position: relative;
  margin: 50px 0;
  line-height: 21px;
  padding-left: 21px;
}
.officeInfoIcon {
  position: absolute;
  left: 6%;
  top: 0px;
  font-size: 18px;
  color: #37d0e1;
}
#officeAddressIcon {
  margin-left: 1px;
  font-size: 20px;
}
#officeInfoFax {
  padding-left: 22px;
}
.officePhoneText {
  color: #b3b3b3;
  text-decoration: none;
}
.officeInfoText {
  text-align: center;
  letter-spacing: 0.8px;
  color: white;
}
/* ************* SOCIAL MEDIA ************* */
.socialMediaContent {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.socialButtons {
  /* background: orange; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 14px;
}
.socialMediaButton {
  background-color: gray;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid silver;
  /* border: none; */
  font-size: 22px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMediaButton:active {
  background-color: #b3b3b3;
}
.socialMediaButton:active .socialBtnIcon {
  background-color: #b3b3b3;
  color: white;
}
.socialBtnIcon {
  /* background-color: #383f43; */
  background-color: gray;
  color: white;
  border: none;
  outline: none;
  font-size: 22px;
}
.socialIcon {
  outline: none;
}
.socialMediaText {
  text-align: center;
  color: white;
  margin: 40px 0 10px 0;
}
/* ***************** FAQ ***************** */
#faq {
  background: #0d79a1;
  padding-top: 10px;
  /* font-family: "Titillium Web", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
}
.faqHeading {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 40px 0 50px 0;
  letter-spacing: 0.7px;
}
.faqQuestion {
  position: relative;
  color: white;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 23px;
}
.faqQuestionText {
  padding-left: 46px;
  padding-right: 15px;
  letter-spacing: 0.6px;
}
.faqNumber {
  position: absolute;
  left: 19px;
}
.faqAnswer {
  color: white;
  margin-left: 46px;
  padding-right: 20px;
  padding-bottom: 44px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

#newContent {
  background: pink;
  height: 600px;
}
.aboutText {
  background: orange;
}

/* box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15); */
#footer {
  background-color: lightblue;
  height: 100px;
}
#emptyDockSpace {
  height: 58px;
}
