* {
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
}
#wrapper {
  height: 100%;
}
html {
  height: auto;
}
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}
.overflowHidden {
  touch-action: none;
  overflow: hidden;
}
.displayHidden {
  display: none !important;
}
.openMenu {
  top: 58px !important;
}
.unselectable {
  -webkit-user-select: none; /* Safari & Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
/* ************************************ MAIN NAV-BAR ****************************************** */
#navOverlay {
  background: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 150;
}
#navbar {
  z-index: 250;
  background-color: whitesmoke;
  height: 58px;
  width: 100%;
  position: fixed;
  top: 0;
  border-top: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
}
#navLogo {
  position: absolute;
  left: 11px;
  height: 100%;
  display: flex;
  align-items: center;
}
#mainLogo {
  height: 34px;
  pointer-events: none;
}
.navLogoName {
  position: absolute;
  left: 50px;
  top: 9px;
  opacity: 0.8;
}
.logoTextTop {
  font-size: 19px;
  letter-spacing: 0.5px;
  font-family: "Russo One", sans-serif;
}
.logoTextBottom {
  /* background-color: orange; */
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: "Titillium Web", sans-serif;
  color: black;
}
#navToggleBtn {
  outline: none;
  width: 58px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  border-left: 2px solid #e8e8e8;
}
#navToggleBtn:active {
  background-color: gainsboro;
}
#navToggleIcon {
  font-size: 24px;
  color: black;
  opacity: 0.8;
}
#backToTopBtn {
  display: flex;
  color: gainsboro;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14%;
  right: 24px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  background-color: rgba(224, 224, 224, 0.5);
}
.upBtn {
  font-size: 18px;
  margin-bottom: 2px;
}
/* ********************************** SIDE NAV WINDOW ************************************** */
#navMenu {
  position: fixed;
  width: 100%;
  top: -192px;
  z-index: 200;
}
.navMenuOpt:not(#navSocial) {
  background-color: whitesmoke;
  color: #616161;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  transition: top 0.1s;
}
.openMenu#navMenu .navMenuOpt:nth-child(1) {
  top: 0px;
  transition-delay: 0;
  z-index: 10;
}
.openMenu#navMenu .navMenuOpt:nth-child(2) {
  top: 50px;
  transition-delay: 0.03s;
  z-index: 9;
}
.openMenu#navMenu .navMenuOpt:nth-child(3) {
  top: 100px;
  transition-delay: 0.06s;
  z-index: 8;
}
.openMenu#navMenu .navMenuOpt:nth-child(4) {
  top: 150px;
  transition-delay: 0.09s;
  z-index: 7;
}
.openMenu#navMenu .navMenuOpt:nth-child(5) {
  top: 200px;
  transition-delay: 0.12s;
  z-index: 6;
}
.openMenu#navMenu .navMenuOpt:nth-child(6) {
  top: 250px;
  transition-delay: 0.15s;
  z-index: 5;
}
#navMenu .navMenuOpt:active {
  background-color: gainsboro;
}
/* *********************************** CONTACT FORM ***************************************** */
#contactForm {
  background-color: whitesmoke;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 58px);
  position: fixed;
  z-index: 100;
  top: 58px;
}
.formTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.backArrow {
  position: absolute;
  left: 0px;
  top: 0;
  font-size: 22px;
  color: darkgray;
  height: 70px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
}
.backArrow:active {
  color: black;
}
.messageMenuTitle {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.formDescription {
  padding: 0px 20px;
  height: 80px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  letter-spacing: 0.3px;
}
.formOption {
  margin-bottom: 16px;
  padding: 0px 20px;
}
.formIcon {
  position: absolute;
  right: 15px;
  top: 17px;
  font-size: 20px;
  color: lightgray;
}
.contactFormText {
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  margin-bottom: 2px;
  color: #444444;
}
.formAsterik {
  color: red;
  margin-left: 3px;
  font-size: 14px;
}
.fullNameField,
.emailField,
.phoneField {
  width: 100%;
  position: relative;
}
.contactFormInput {
  background-color: white;
  height: 54px;
  border: 2px solid #e8e8e8;
  padding-left: 11px;
  width: 100%;
  outline: none;
  /* border-radius: 7px; */
  font-size: 16px;
  letter-spacing: 0.6px;
  padding-right: 40px;
  padding-top: 2px;
}
.contactFormInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
input.contactFormInput:valid {
  background-image: url("images/icons/validCheckIcon.svg");
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-color: white;
}
input.contactFormInput:valid + .formIcon {
  opacity: 0;
}
.contactFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
}
.contactFormInput::-webkit-input-placeholder {
  color: #999;
}
.contactFormInput::-ms-input-placeholder {
  /* Internet Explorer 10-11, Edge */
  color: #999;
}
.formMessage {
  padding: 0px 20px 150px 20px;
}
#messageInput {
  padding: 8px 8px 0 8px;
  height: 140px;
}
#messageInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
#messageInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
}
#messageInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
#messageInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
#formButtons {
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  padding: 8px;
  border-top: 2px solid gainsboro;
}
.contactFormBtn {
  outline: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  border: 3px solid silver;
  background-color: white;
}
.formSubmitBtnDisabled {
  border: 3px solid gainsboro;
  color: silver;
  opacity: 0.6;
  margin-right: 4px;
  background-color: whitesmoke;
}
.formSubmitBtnReady {
  border: none;
  color: white;
  margin-right: 4px;
  background-color: #10b020;
}
.formSubmitBtnReady:active {
  background-color: #0b7a16;
}
.formSubmitBtnReady:active #formCheckIcon {
  font-size: 22px;
}
#formCancelBtn {
  margin-left: 4px;
}
#formCancelBtn:active {
  background-color: silver;
  color: white;
}
.formBtnIcon {
  font-size: 16px;
}
.contactFormBtnText {
  font-size: 15px;
  letter-spacing: 0.5px;
  margin-left: 10px;
}
.formOverlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 260;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formOverlayWindow {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  width: 67%;
  height: 198px;
  padding-top: 28px;
}
.overlayIconWrapper {
  text-align: center;
}
.confirmIcon {
  color: #2ba52b;
  font-size: 56px;
}
.errorIcon {
  color: #962727;
  font-size: 50px;
}
.formOverlayMessage {
  color: gainsboro;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 8px;
  text-align: center;
}
#errorText {
  font-size: 20px;
  margin-top: 10px;
}
.formOverlayText {
  color: #a0a0a0;
  margin-top: 30px;
  letter-spacing: 0.7px;
  text-align: center;
}
/* ************************************** BUTTONS DOCK **************************************** */
#mainDock {
  background-color: #e8e8e8;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 8px;
  padding: 8px;
  border-top: 2px solid gainsboro;
  z-index: 10;
}
.dockContactBtn {
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: 3px solid silver;
}
.dockContactBtn:active {
  background-color: silver;
}
.dockContactBtn:active .contactBtnText {
  color: white;
}
.dockContactBtn:active #directionsIcon {
  font-size: 14px;
}
.dockContactBtn:active #callIcon {
  font-size: 22px;
}
.dockContactBtn:active #messageIcon {
  font-size: 14px;
}
#callBtn {
  grid-column: 1/2;
  grid-row: 1/2;
  text-decoration: none;
}
#directionsBtn {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}
#messageBtn {
  grid-column: 3/4;
}
.contactIcon {
  margin-right: 4px;
  font-size: 18px;
  opacity: 0.9;
}
#directionsIcon {
  color: red;
}
#callIcon {
  color: #2ba52b;
}
#messageIcon {
  color: #1f93ff;
  margin-right: 5px;
}
.contactBtnText {
  color: #616161;
  font-size: 13px;
  /* font-family: "Titillium Web", sans-serif; */
  font-family: "Roboto", sans-serif;
}
/* *************************************** CONTENT ******************************************* */
#landingBox {
  height: calc(100vh - 116px);
  margin-top: 58px;
  position: relative;
  background-image: url("images/smile.png");
  background-repeat: no-repeat;
  background-position: bottom 0px left -15px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-width: 100vw;
}
.gradient {
  height: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  /* background-image: linear-gradient(
    180deg,
    rgba(245, 186, 144, 0) 22%,
    rgba(245, 186, 144, 1) 55%
  ); */
}
.landingText {
  /* background: pink; */
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}
.landingHeading {
  font-family: "Russo One", sans-serif;
  /* font-family: "Fredoka One", cursive; */
  font-style: italic;
  font-size: 38px;
  letter-spacing: 2px;
  color: white;
  width: 68%;
  margin-left: 10px;
}
.landingSubHeading {
  font-family: "Titillium Web", sans-serif;
  color: white;
  line-height: 21px;
  letter-spacing: 0.4px;
  font-size: 16px;
  width: 83%;
  /* margin-top: 56px;
  margin-bottom: 25px; */
  margin-top: 9px;
  margin-bottom: 87px;
  margin-left: 12px;
}
#stats {
  background-color: whitesmoke;
  padding-top: 20px;
  padding-bottom: 50px;
}
.statBox {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: center left 15px;
}
#statSmileImg {
  background-image: url("images/icons/smilesIcon.svg");
}
#statClockImg {
  background-image: url("images/icons/clockIcon.svg");
}
#statToothImg {
  background-image: url("images/icons/toothIcon.svg");
}
.statNumber {
  color: #37d0e1;
  font-size: 27px;
  margin-bottom: 2px;
}
.statDescription {
  font-size: 16px;
  letter-spacing: 0.4px;
}
#statCases::after {
  content: "+";
}
#statPercent::after {
  content: "%";
}
.statBtnBar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.learnMoreStatBtn {
  background: linear-gradient(to bottom, #37d0e1 0%, #2eb1bf 100%);
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 220px;
  height: 40px;
  font-size: 16px;
  letter-spacing: 0.5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.learnMoreStatBtn:active {
  background: #1e7f8a;
}
/* ************************************* OFFICE INFO **************************************** */
#officeInfo {
  background-color: #383f43;
  /* background-color: #333a3a; */
  padding-top: 10px;
  /* font-family: "Titillium Web", sans-serif; */
}
.officeInfoHeading {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 40px 0 50px 0;
  letter-spacing: 0.8px;
}
.officeInfoSchedule {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 2px;
}
.officeInfoGrid {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-template-rows: repeat(7, 26px);
}
.officeDay {
  color: white;
  text-align: right;
  letter-spacing: 0.9px;
}
.officeTime {
  text-align: center;
  color: #b3b3b3;
  letter-spacing: 0.3px;
}
.officeClosed {
  text-align: left;
  margin-left: 5px;
}
.officeInfoAddress {
  position: relative;
  margin-bottom: 30px;
  line-height: 20px;
  padding-left: 18px;
}
.officeInfoPhone {
  position: relative;
  margin: 50px 0;
  line-height: 21px;
  padding-left: 21px;
}
.officeInfoIcon {
  position: absolute;
  left: 6%;
  top: 0px;
  font-size: 18px;
  color: #37d0e1;
}
#officeAddressIcon {
  margin-left: 1px;
  font-size: 20px;
}
#officeInfoFax {
  padding-left: 22px;
}
.officePhoneText {
  color: #b3b3b3;
  text-decoration: none;
}
.officeInfoText {
  text-align: center;
  letter-spacing: 0.8px;
  color: white;
}
#addressText {
  letter-spacing: 1px;
}
.officeMap {
  padding: 0 23px;
}
.mapWrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
#googleMap {
  margin: 0 auto;
  display: block;
  height: 230px;
  width: 100%;
}
/* *************************************** SOCIAL MEDIA ************************************* */
.socialMediaContent {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.socialButtons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 14px;
}
.socialMediaBtn {
  background-color: gray;
  width: 48px;
  height: 48px;
  border-radius: 10px;
  border: 2px solid silver;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMediaBtn:active {
  background-color: #b3b3b3;
}
.socialMediaBtn:active .socialBtnIcon {
  background-color: #b3b3b3;
  color: white;
}
.socialBtnIcon {
  background-color: gray;
  color: white;
  border: none;
  outline: none;
  font-size: 22px;
}
.socialIcon {
  outline: none;
}
#instagramIcon {
  font-size: 24px;
}
.socialMediaText {
  text-align: center;
  color: white;
  margin: 40px 0 10px 0;
  letter-spacing: 0.4px;
}

#navSocial {
  width: 100%;
  position: absolute;
  top: -50px;
  height: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  z-index: 200;
  transition: top 0.1s;
}
.navSocialMediaBtn {
  background-color: whitesmoke;
  border-right: 2px solid #e8e8e8;
  border-bottom: 2px solid #e8e8e8;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTwitterBtn {
  border-right: none;
}
.navSocialBtnIcon {
  background-color: whitesmoke;
  color: silver;
  border: none;
  outline: none;
  font-size: 21px;
}
#navInstagramIcon {
  font-size: 24px;
}
.navSocialMediaBtn:active {
  background-color: gainsboro;
}
.navSocialMediaBtn:active .navSocialBtnIcon {
  background-color: gainsboro;
  color: white;
}

/* ****************************************** FAQ ******************************************* */
#faq {
  background: #0d79a1;
  padding-top: 10px;
  /* font-family: "Titillium Web", sans-serif; */
  /* font-family: "Open Sans", sans-serif; */
}
.faqHeading {
  text-align: center;
  font-size: 20px;
  color: white;
  margin: 40px 0 50px 0;
  letter-spacing: 0.7px;
}
.faqQuestion {
  position: relative;
  color: white;
  font-size: 16px;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 23px;
}
.faqQuestionText {
  padding-left: 46px;
  padding-right: 15px;
  letter-spacing: 0.6px;
}
.faqNumber {
  position: absolute;
  left: 19px;
}
.faqAnswer {
  color: white;
  margin-left: 46px;
  padding-right: 20px;
  padding-bottom: 44px;
  line-height: 25px;
  letter-spacing: 0.5px;
  font-size: 16px;
}

#aboutUs {
  background: gainsboro;
  padding-top: 10px;
  padding-bottom: 50px;
}
.aboutTitle {
  text-align: center;
  font-size: 20px;
  /* color: white; */
  margin: 40px 0 50px 0;
  letter-spacing: 0.8px;
}
.aboutText {
  /* background: orange; */
  line-height: 28px;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin-left: 20px;
  padding-right: 16px;
}

#doctor {
  background-color: #7fbfeb;
  padding-top: 10px;
  padding-bottom: 40px;
}
.doctorTitle {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 3px;
  letter-spacing: 0.8px;
}
.doctorName {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
  letter-spacing: 0.8px;
  /* font-family: "Source Serif Pro", serif; */
  font-family: "Volkhov", serif;
  font-weight: bold;
  font-style: italic;
}
.doctorImgParent {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.doctorImg {
  height: 200px;
}
.doctorInfo {
  line-height: 28px;
  letter-spacing: 0.4px;
  font-size: 16px;
  margin-left: 20px;
  padding-right: 16px;
}

.reviews {
  position: relative;
  background-image: url(images/test.png);
  background-repeat: no-repeat;
  background-position: bottom 0px right -75px;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
#reviewSlider {
  /* background-color: rgba(40, 40, 40, 0.7); */
  height: 410px;
  margin-bottom: 0;
}
.slick-dots.touch-device li.slick-active button::before {
  opacity: 1 !important ;
}
.slick-list {
  height: 100%;
}
.slick-track {
  height: 100%;
}
.slick-dots {
  bottom: 0;
  height: 64px;
}
.slick-dots li {
  margin: 0 4px;
}
.slick-dots li button:before {
  font-size: 11px;
  opacity: 0.35;
  color: #181818;
}
.slick-dots li.slick-active button:before {
  color: white;
}
.reviewSlide {
  height: 100%;
}
.reviewQuote {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.reviewSlideText {
  font-size: 18px;
  margin-left: 34px;
  margin-right: 18px;
  line-height: 28px;
  margin-bottom: 26px;
  letter-spacing: 0.4px;
}
#slideText1 {
}
#slideText2 {
}
#slideText3 {
}
#slideText4 {
}
#slideText5 {
  margin-right: 28px;
}
.reviewName {
  text-align: center;
  font-style: italic;
}
.quoteIcon {
  position: absolute;
  font-size: 60px;
  color: white;
  opacity: 0.1;
}
.leftQuoteIcon {
  left: 10px;
  top: 40px;
}
.rightQuoteIcon {
  right: 10px;
  top: 220px;
}

/* background: linear-gradient(to bottom right, #ff9966 0%, #9900ff 100%); */
/* box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15); */
footer {
  background-color: pink;
  height: 100px;
}
#emptyDockSpace {
  height: 58px;
}

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  -webkit-animation-fill-mode: forwards;
}
.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
  -webkit-animation-fill-mode: forwards;
}

/**
 * Slick dots sticky touch hover workaround - CSS portion (also see JS portion)
 * * https://github.com/kenwheeler/slick/issues/1945#issuecomment-230158398
 * * http://stackoverflow.com/a/4734092/4747661
 *
 * :hover removes dark on Android
 * :focus removes dark on iOS
 *
 * .slick-active adds back dark everywhere
 */
.slick-dots.touch-device li button:hover::before,
.slick-dots.touch-device li button:focus::before {
  opacity: 0.25;
}

.slick-dots.touch-device li.slick-active button::before {
  opacity: 0.75;
}
