* {
  margin: 0;
  padding: 0;
  border-radius: 0px;
  box-sizing: border-box;
  -webkit-appearance: none;
  /* Remove Gray Highlight When Tapping Links in Mobile Safari */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Titillium Web", sans-serif; */
}

.overflowHidden {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.displayHidden {
  display: none !important;
}

/* ******************** MAIN NAV-BAR ******************** */

#mainSiteNavbar {
  z-index: 10;
  background-color: whitesmoke;
  height: 64px;
  width: 100%;
  position: fixed;
  /* position: -webkit-sticky; */
  top: 0;
  border-bottom: 2px solid #e8e8e8;
}
.navLogoIcon {
  /* background-color: pink; */
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 3px;
  position: absolute;
  left: 0px;
}
#mainLogo {
  height: 34px;
}
.navLogoName {
  /* background-color: yellow; */
  height: 100%;
  position: absolute;
  left: 54px;
  padding-top: 13px;
}
.logoTextTop {
  /* background-color: lightgreen; */
  font-size: 19px;
  letter-spacing: 0.5px;
  font-family: "Russo One", sans-serif;
}
.logoTextBottom {
  /* background-color: lightgreen; */
  font-size: 14px;
  letter-spacing: 0.4px;
  font-family: "Titillium Web", sans-serif;
}
.doctorNameText {
  /* background-color: lightblue; */
  /* display: none; */
  font-size: 13px;
  font-weight: bold;
}
#certification {
  font-weight: initial;
}
.navToggleBtn {
  /* background-color: pink; */
  width: 64px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 0px;
  /* border-left: 2px solid #e8e8e8; */
}
.navToggleIcon {
  font-size: 24px;
  color: black;
}
.navToggleBtn:active {
  background-color: silver;
}
.backToTopBtn {
  display: flex;
  display: none;
  color: gainsboro;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 14%;
  right: 24px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: none;
  outline: none;
  background-color: rgba(224, 224, 224, 0.5);
}
.upBtn {
  font-size: 18px;
  margin-bottom: 2px;
}

/* *********************** SIDE NAV WINDOW *********************** */
#sideNavWindow {
  /* display: none; */
  position: fixed;
  width: 100%;
  height: calc(100vh - 64px - 58px);
  top: 64px;
  right: 0;
  z-index: 100;
}
/* **************** SIDE NAV MENU **************** */

.sideNavMenu {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
}
.sideNavMenuOpt {
  background-color: whitesmoke;
  color: #616161;
  cursor: pointer;
  font-size: 14px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e8e8e8;
}
.sideNavMenuOpt:active {
  background-color: #e8e8e8;
  color: white;
}

/* ******************* CONTACT FORM ******************* */

#contactWindow {
  background-color: whitesmoke;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: calc(100vh - 64px);
  position: fixed;
  z-index: 100;
  margin-top: 64px;
}
#contactFormTitle {
  /* background: lightblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}
.backArrow {
  /* background-color: pink; */
  position: absolute;
  left: 0px;
  font-size: 22px;
  color: darkgray;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 6px;
}
.backArrow:active {
  color: black;
}
.messageMenuTitle {
  font-size: 18px;
  color: gray;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#contactFormDescription {
  padding: 0px 20px;
  height: 80px;
}
.contactFormSubHeading {
  font-size: 14px;
  line-height: 18px;
  color: black;
}
.formOption {
  margin-bottom: 16px;
  padding: 0px 20px;
}
.formIcon {
  /* background-color: pink; */
  position: absolute;
  right: 13px;
  top: 18px;
  font-size: 17px;
  color: lightgray;
}
#fullNameIcon {
  right: 14px;
}
#emailIcon {
  top: 19px;
}
#contactFormFullName {
  /* background-color: pink; */
}
.contactFormText {
  /* background-color: pink; */
  height: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
  margin-bottom: 2px;
}
.formAsterik {
  color: red;
  margin-left: 3px;
  font-size: 14px;
}
.fullNameField,
.emailField,
.phoneField {
  width: 100%;
  position: relative;
}
.contactFormInput {
  background-color: white;
  height: 54px;
  border: 2px solid #e8e8e8;
  padding-left: 8px;
  width: 100%;
  outline: none;
  /* border-radius: 7px; */
  font-size: 18px;
  letter-spacing: 0.4px;
}
.contactFormInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
.contactFormInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}
.contactFormInput::-webkit-input-placeholder {
  color: #999;
}
.contactFormInput::-ms-input-placeholder {
  /* Internet Explorer 10-11, Edge */
  color: #999;
}
#contactFormEmail {
  /* background-color: lightblue; */
}
#contactFormPhone {
  /* background-color: pink; */
}
#contactFormMessage {
  /* background: pink; */
  padding: 0px 20px 400px 20px;
}
#messageInput {
  padding: 8px 8px 0 8px;
  height: 140px;
}
#messageInput:focus {
  border: 2px solid #48b5f3;
  outline: none;
}
#messageInput::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1; /* Firefox */
}
#messageInput:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999;
}
#messageInput::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
#contactFormButtons {
  background-color: whitesmoke;
  width: 100%;
  position: fixed;
  bottom: 0px;
  display: flex;
  padding: 8px;
  border-top: 2px solid #e8e8e8;
  /* z-index: 1000; */
}
.contactFormBtn {
  outline: none;
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #616161;
  border: 3px solid silver;
}
#formSubmitBtn {
  border: 3px solid gainsboro;
  color: silver;
  opacity: 0.6;
  margin-right: 4px;
  background-color: whitesmoke;
}
#formCancelBtn {
  margin-left: 4px;
  background-color: white;
}
#formCancelBtn:active {
  background-color: silver;
  color: white;
}
.formCancelIcon {
  font-size: 16px;
}
.contactFormBtnText {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

/* **************** BUTTONS DOCK **************** */

#mainDock {
  background-color: whitesmoke;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 8px;
  padding: 8px;
  border-top: 2px solid #e8e8e8;
}
.dockContactBtn {
  /* border: none; */
  /* font-weight: 500; */
  background-color: white;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  border: 3px solid silver;
}
.dockContactBtn:active {
  /* border: 3px solid #1f93ff; */
  background-color: silver;
  color: white;
}
.dockContactBtn:active .contactBtnText {
  color: white;
}
.dockContactBtn:active #directionsIcon {
  font-size: 14px;
}
.dockContactBtn:active #callIcon {
  font-size: 22px;
}
.dockContactBtn:active #messageIcon {
  font-size: 14px;
}
.contactBtnContainer {
  /* background-color: pink; */
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 30px;
}
#callBtn {
  grid-column: 1/2;
  grid-row: 1/2;
  text-decoration: none;
}
#directionsBtn {
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
}
#messageBtn {
  grid-column: 3/4;
}
.contactIcon {
  /* background: yellow; */
  /* position: absolute; */
  margin-right: 4px;
  font-size: 18px;
}
#directionsIcon {
  color: red;
  /* left: 8px; */
}
#callIcon {
  color: #2ba52b;
  /* left: 12px; */
}
#messageIcon {
  color: #1f93ff;
  margin-right: 5px;
  /* left: 12px; */
}
.contactBtnText {
  /* letter-spacing: 0.5px; */
  /* position: absolute; */
  /* background: orange; */
  color: #616161;
  font-size: 13px;
  font-family: "Titillium Web", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}
/* #directionsBtnText {
  right: 2px;
} */
/* #callBtnText {
  left: 55px;
} */
/* #messageBtnText {
  right: 10px;
} */

/* ************************** CONTENT ************************** */

#landingBox {
  height: calc(100vh - 122px);
  background-color: silver;
  padding-top: 140px;
  margin-top: 64px;
}
.landingHeading {
  /* background: orange; */
  text-align: center;
  width: 90%;
  font-size: 30px;
  margin: 0 auto;
  /* color: orange; */
}
.landingSubHeading {
  /* background: lightpink; */
  padding: 0 20px;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
#statsContent {
  /* height: calc(100vh - 64px); */
  height: 550px;
  background-color: white;
  padding-top: 30px;
}
.statBox {
  /* background-color: lightblue; */
  /* margin-bottom: 20px; */
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.statNumber {
  /* background-color: yellow; */
  height: 30px;
  color: #37d0e1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.statDescription {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.statBtnBar {
  /* background-color: aqua; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.learnMoreStatBtn {
  background-color: #37d0e1;
  /* background-color: #1f93ff; */
  color: white;
  border: none;
  outline: none;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  font-size: 14px;
}
.learnMoreStatBtn:active {
  background-color: white;
  color: black;
  border: 2px solid #37d0ce;
}
/* **************** OFFICE INFO **************** */
#officeInfoContent {
  background-color: #383f43;
  /* height: 500px; */
  padding-top: 10px;
  font-family: "Titillium Web", sans-serif;
}
.officeInfoHeading {
  text-align: center;
  font-size: 24px;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
  letter-spacing: 0.5px;
}
.officeInfoContainer {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 2px;
}
.officeInfoGrid {
  /* background-color: lightblue; */
  /* width: 300px; */
  /* height: 300px; */
  display: grid;
  grid-template-columns: 100px 148px;
  grid-template-rows: repeat(7, 26px);
  /* margin-right: 38px; */
  /* margin: 0 auto; */
}
.officeDay {
  color: white;
  text-align: right;
  letter-spacing: 0.3px;
}
.officeTime {
  text-align: center;
  color: #b3b3b3;
}
.officeClosed {
  text-align: left;
  margin-left: 7px;
}
.officeInfoAddress {
  position: relative;
  margin: 50px 0;
}
.officeInfoPhone {
  position: relative;
  margin-bottom: 30px;
}
.officeInfoIcon {
  position: absolute;
  left: 6%;
  top: 0px;
  font-size: 18px;
  color: #37d0e1;
}
/* #officePhoneIcon {
  top: 2px;
} */
.officeIconMargin {
  margin-left: 3px;
}
#officeInfoFax {
  padding-left: 20px;
}
.officeInfoText {
  text-align: center;
  letter-spacing: 0.2px;
  color: white;
  line-height: 19px;
}
.officePhoneText {
  color: #b3b3b3;
  text-decoration: none;
}
/* ************* SOCIAL MEDIA ************* */
.socialMediaContent {
  display: flex;
  justify-content: center;
}
.socialButtons {
  /* background: orange; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 20px;
  grid-column-gap: 16px;
  margin-bottom: 30px;
}
.socialMediaButton {
  background-color: #383f43;
  width: 46px;
  height: 46px;
  border-radius: 10px;
  border: 2px solid #b3b3b3;
  font-size: 22px;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socialMediaButton:active {
  background-color: #b3b3b3;
}
.socialMediaButton:active .socialBtnIcon {
  background-color: #b3b3b3;
  color: white;
}
.socialBtnIcon {
  background-color: #383f43;
  color: #b3b3b3;
  border: none;
  outline: none;
  font-size: 20px;
}
.socialIcon {
  outline: none;
}

/* box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.15); */
.footer {
  background-color: lightblue;
  height: 100px;
}
.emptyDockSpace {
  width: 100%;
  height: 58px;
}
